# Laravel padrão
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.testing
/.vscode
/.idea
.DS_Store
Thumbs.db

# Cache
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs


